* {
  --primary: #d81e5b;
  --secondary:#8c38ff;
  --dark:#131a26;
  --light:#eee;
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:"fira sans", sans-serif;
}

body{
    background-color: var(--light);

}

.App {
    display:flex;
    align-items:center;
    padding:16px;
}
.Calculator {
    width:100%;
    background-color:#fff;
    border-radius: 16px;
}
.Display {

    padding:16px;
    text-align:right;
    background-color:var(--dark);
    color:var(--light);
    font-size:24px;
    font-weight:300;
}
.Display span{
    font-size:14px;
}

button{
    appearance: none;
    border:none;
    color:#FFF;
    font-size:20px;
    cursor:pointer;
    transition:0.4;
}
button:hover{opacity:0.9;}

.Operators{
    display:flex;
}

.Operators button{
    flex: 1 1 0%;
    background-color:var(--primary);
    font-weight:700;
}

.Digits {
    display:flex;
    flex-wrap:wrap;
}

.Digits button{
    flex:1 1 33.33%;
    background-color: var(--dark);
}